build
drop
www/webstart/*.jar
.gradle
.idea
*.iml
*.iws
*.ipr
.classpath
.project
.settings
# NetBeans files: .nb-gradle/ (directory) and .nb-gradle-properties
**/.nb-gradle/
**/.nb-gradle-properties